.mainPage {
  height: 100%;
}
.mainPage img {
}

.mainPage .part2 {
}
.mainPage .part2 .prefix {
  margin-bottom: -2px;
}
.mainPage .part2 .letters {
  position: relative;
  height: 36px;
  width: 100px;
  overflow: hidden;
}

.mainPage .part2 .letters span {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  /* transition: .3s; */
  animation: letterMove 12s infinite backwards ease-in-out;
}
.mainPage .part2 .letters span + span {
  animation: letterMove 12s 0.1s infinite backwards ease-in-out;
}
.mainPage .part2 .letters span + span + span {
  animation: letterMove 12s 0.2s infinite backwards ease-in-out;
}
.mainPage .part2 .letters span + span + span + span {
  animation: letterMove 12s 0.3s infinite backwards ease-in-out;
}
.mainPage .part2 .letters span + span + span + span + span {
  animation: letterMove 12s 0.4s infinite backwards ease-in-out;
}

.mainPage .part2 .letters1 {
}

@keyframes letterMove {
  0% {
    top: -34px;
  }
  5% {
    top: 0px;
  }
  33.33% {
    top: 0px;
  }
  38.33% {
    top: 34px;
  }
  100% {
    top: 34px;
  }
}
